// Row Width
$row-width: 100%;

// Page width
$page-width: 960px;

// Gutter widths
$gutter: 32px;

$gutter-half: $gutter /2;

// Colors

$color1: #65768C;
$color2: #929CA6;
$color3: #F2F2F2;
$color4: #F2EEAE;
$color5: #F2D3AC;